<div class="card">
  <p-table
    #dt
    [value]="filteredAppointments"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 15, 20]"
    [loading]="false"
    [paginator]="true"
    [globalFilterFields]="['provider.first_name', 'provider.last_name',
    'patient.first_name', 'patient.last_name',]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [lazy]="true"
    (onLazyLoad)="onPageChange($event)"
    [totalRecords]="totalRecords"
  >
    <!-- Table Caption -->
    <ng-template #caption>
      <div class="flex justify-between items-center px-4 py-2"> <!-- Reduced padding -->
        <h1 class="text-lg font-semibold text-gray-800">Appointment List</h1> 
        <div class="flex items-center gap-2">
       
<div class="relative">
  <input
    pInputText
    type="text"
    (input)="onGlobalSearch($event, dt)"
    placeholder="Search by name.."
    class="border border-gray-300 rounded-lg px-4 py-2 pl-10 focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition duration-200"
  />
  <i class="pi pi-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
</div>


          <!-- Filter by Status -->
          <p-dropdown
            [options]="statusOptions"
            [(ngModel)]="selectedStatus"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Status"
            (onChange)="onStatusFilterChange()"
            class="p-ml-2"
          ></p-dropdown>
        </div>
      </div>
    </ng-template>

    <!-- Table Header -->
    <ng-template pTemplate="header">
      <tr>
        <th>Date</th>
        <th>Time Slot</th>
        <th>Doctor</th>
        <th>Patient</th>
        <th>Reason</th>
        <th>status</th>
        <th>Actions</th>
       
      </tr>
    </ng-template>

    <!-- Table Body -->
    <ng-template pTemplate="body" let-appointment>
      <tr>
        <td>{{appointment.appointment_date | date: 'MM/dd/yyyy'}}</td>
        <td>{{ appointment.appointment_time }}</td>
       <!-- Doctor Column: Name + Email -->
    <td>
      <div class="text-lg font-semibold text-blue-600">{{ appointment.provider?.first_name +" "+ appointment.provider?.last_name}}</div>
      <div class="text-gray-500 text-sm">{{ appointment.provider?.email }}</div>
    </td>

    <!-- Patient Column: Name + Email -->
    <td>
      <div class="font-semibold text-grey">{{ appointment.patient?.first_name+ " "+ appointment.patient?.last_name}}</div>
      <div class="text-gray-500 text-sm">{{ appointment.patient?.email }}</div>
    </td>
        <td>{{ appointment.reason }}</td>
        <td>
          <span class="font-semibold"
      [ngClass]="{
        'text-green-600': appointment.status === 'completed',
        'text-yellow-600': appointment.status === 'pending',
        'text-red-600': appointment.status === 'rejected'
      }">


  {{ appointment.status }}
</span>
        </td>
        <td>
          <button (click)="openEditDialog(appointment)" class="pi pi-pencil text-blue-700 mr-4"></button>
          <!-- Delete button -->
          <button  class="pi true-icon pi-trash text-red-500" (click)="confirm2($event,appointment)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>


<p-dialog [(visible)]="isDialogVisible" header="Edit Appointment"  [modal]="true"  [closable]="true"  maskStyleClass="backdrop-blur-sm">

  <!-- <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <p-avatar icon="pi pi-user" shape="circle" />
      <span class="font-bold whitespace-nowrap">provider- {{ selectedAppointment?.provider?.first_name }} | patient- {{ selectedAppointment?.patient?.first_name }}</span>
    </div>
</ng-template>
<span class="text-surface-500 dark:text-surface-400 block mb-8 font-bold text-2xl">Edit Appointment</span> -->

  <app-appointment-form
    *ngIf="selectedAppointment"
    [appointment]="selectedAppointment"
    (appointmentSaved)="saveAppointment()"
  ></app-appointment-form>
  
</p-dialog>


<p-toast />
<p-confirmdialog [style]="{ width: '400px' }"></p-confirmdialog>