<div class="flex items-center justify-between h-16 bg-white border-b border-gray-200">
    <div class="flex items-center px-4">
        <button>
            <i class="pi pi-bars"></i>
        </button>
        <input class="mx-4 w-full border rounded-md px-4 py-2" type="text" placeholder="Search">
    </div>
    <div class="flex items-center pr-4">
        <p-menu #menu [model]="items" [popup]="true" />
        <p-avatar (click)="menu.toggle($event)" label="P" styleClass="mr-2" size="normal" shape="circle" />
    </div>
</div>