<div class="flex items-center justify-between h-16 bg-white border-b border-gray-200">
    <div class="flex items-center px-4">
        <p-button (click)="visible = true" icon="pi pi-bars" class="md:hidden" outlined="true" />
        <input class="mx-4 w-full border rounded-md px-4 py-2" type="text" placeholder="Search">
    </div>

   

    <!-- Profile menu section -->
    <div class="flex items-center pr-4">
        <p-menu #menu [model]="items" [popup]="true" />
        <p-avatar (click)="menu.toggle($event)" icon="pi pi-user" class="mr-2 cursor-pointer" size="normal" shape="circle" />
    </div>
</div>

<!-- Confirmation Dialog and Toast -->
<p-toast></p-toast>
<p-confirmdialog [style]="{ width: '400px' }"></p-confirmdialog>

<p-drawer [(visible)]="visible" [closable]="true">
    <ng-template #header>
        <div class="flex items-center gap-2">
            <p-avatar icon="pi pi-user" shape="circle" />
            <span class="font-bold">Hello Welcome</span>
        </div>
    </ng-template>
    <p>
        
        <p-panelmenu [model]="bars"  styleClass="w-full md:w-80 " />
       

    </p>
    <ng-template #footer>
        <div class="flex items-center gap-2">
          
            <button pButton label="Logout" (click)="confirmSignOut()" icon="pi pi-sign-out" class="w-full p-button-outlined" severity="danger" ></button>

        </div>
    </ng-template>
</p-drawer>

