<section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center  px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mt-8 mb-6">
        <img class="w-auto h-12 mr-2" src="images/logo.svg" alt="logo">
      </a>
      <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
            Create an account
          </h1>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
            <!-- First Name -->
            <div>
              <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 ">First Name</label>
              <input type="text"  formControlName="first_name" 
              [ngClass]="{'border-red-500': registerForm.get('first_name')?.invalid && registerForm.get('first_name')?.touched}"
              class="w-full  border border-gray-300 rounded p-2 focus:outline-none focus:ring-2"  />
              <small *ngIf="registerForm.get('first_name')?.errors?.['required'] && registerForm.get('first_name')?.touched" class="text-red-500 block mt-1 p-error">First Name is required.</small>
              <small *ngIf="registerForm.get('first_name')?.errors?.['pattern']" class="text-red-500 block mt-1 p-error">First Name should contains alphabets only.</small>
            </div>
  
            <!-- Last Name -->
            <div>
              <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 ">Last Name</label>
              <input type="text"  formControlName="last_name"
              [ngClass]="{'border-red-500': registerForm.get('last_name')?.invalid && registerForm.get('last_name')?.touched}"
               class="w-full  border border-gray-300 rounded p-2 focus:outline-none focus:ring-2" placeholder="Doe" />
              <small *ngIf="registerForm.get('last_name')?.errors?.['required'] && registerForm.get('last_name')?.touched" class="text-red-500 block mt-1 p-error">Last Name is required.</small>
              <small *ngIf="registerForm.get('last_name')?.errors?.['pattern']" class="text-red-500 block mt-1 p-error">Last Name should contains alphabets only.</small>
            </div>
  
            <!-- Email -->
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 ">Email</label>
              <input type="email"  formControlName="email" 
              [ngClass]="{'border-red-500': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}"
              class="w-full  border border-gray-300 rounded p-2 focus:outline-none focus:ring-2" placeholder="john.doe@example.com" />
              <small *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched" class="text-red-500 block mt-1 p-error">Email is required.</small>
              <small *ngIf="registerForm.get('email')?.errors?.['email']" class="text-red-500 block mt-1 p-error">Please enter a valid email address.</small>
            </div>
  
            <!-- Password -->
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 ">Password</label>
              <input type="password"  formControlName="password" 
              [ngClass]="{'border-red-500': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"
              class="w-full  border border-gray-300 rounded p-2 focus:outline-none focus:ring-2" placeholder="Entter your password" />
              <small *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched" class="text-red-500 block mt-1 p-error">Password is required.</small>
              <small *ngIf="registerForm.get('password')?.errors?.['pattern']" class="text-red-500 block mt-1 p-error">
                Password must have at least one uppercase letter, one special character, one number, and be max 8 characters long.
              </small>
            </div>
                   <!-- Confirm Password -->
<div>
  <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 ">Confirm Password</label>
  <input type="password"  formControlName="confirm_password" 
  [ngClass]="{'border-red-500': registerForm.get('confirm_password')?.invalid && registerForm.get('confirm_password')?.touched}"
  class="w-full  border border-gray-300 rounded p-2 focus:outline-none focus:ring-2" placeholder="Confirm password" />
  <small *ngIf="registerForm.get('confirm_password')?.hasError('required') && registerForm.get('confirm_password')?.touched" class="text-red-500 block mt-1 p-error">Confirm Password is required.</small>
  <small *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirm_password')?.touched" class="text-red-500 block mt-1 p-error">Passwords do not match.</small>
</div>

 <!-- Agree to Terms and Conditions -->
 <div class="flex items-center">
  <input 
    id="terms" 
    type="checkbox" 
    formControlName="agreeTerms" 
    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 " 
  />
  <label for="terms" class="ml-2 text-sm text-gray-500">
    I agree to the 
    <a href="/terms" class="text-primary-600 hover:underline ">Terms and Conditions</a>
  </label>
</div>
<small *ngIf="registerForm.get('agreeTerms')?.errors?.['required'] && registerForm.get('agreeTerms')?.touched" class="text-red-500 block mt-1">You must agree to the terms and conditions.</small>


            <!-- Submit Button -->
            <div class="w-full">
              <p-button label="Register" type="submit" [disabled]="registerForm.invalid" class="grid"></p-button>
            </div>
  
            <!-- Login Link -->
            <p class="text-sm font-light text-gray-500 ">
              Already have an account? <a routerLink="/login" class="font-medium text-primary-600 hover:underline">Sign in</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
  <p-toast></p-toast>