
<router-outlet></router-outlet>

<!-- app-merged-app
 <div class="flex h-screen bg-gray-100">
    <app-sidebar/>
    <div class="flex flex-col flex-1 overflow-y-auto">
        <app-header/>
        <div class="p-base flex-1 overflow-auto">
            <app-drawer/>            
            <app-pagination/>
            <app-user-creation/>
        </div> 
        

  </div>
</div>



<button class="bg-blue-600 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-700 transition duration-300 ease-in-out" routerLink="/login">
Login to Edvak EHR
</button>
<app-login/> -->
