<!-- <p-button label="Toggle Dark Mode" (onClick)="toggleDarkMode()" /> -->


<div class="flex h-screen bg-gray-100">

    <!-- sidebar -->
    <div class="hidden md:flex flex-col w-64 bg-gray-800">
        <div class="flex items-center justify-center h-16 bg-gray-100">
            <img class="w-auto h-8 mr-2" src="images/logo.svg" alt="logo">
        </div>
        <div class="flex flex-col flex-1 overflow-y-auto">
            <nav class="flex-1 px-2 py-4 bg-white">
                <a href="#" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-bars"></i>
                    Dashboard
                </a>
                <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-comment"></i>
                    Messages
                </a>
                <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                    <i class="pi pi-cog"></i>
                    Settings
                </a>
            </nav>
        </div>
    </div>

    <!-- Main content -->
    <div class="flex flex-col flex-1 overflow-y-auto">
        <div class="flex items-center justify-between h-16 bg-white border-b border-gray-200">
            <div class="flex items-center px-4">
                <button>
                    <i class="pi pi-bars"></i>
                </button>
                <input class="mx-4 w-full border rounded-md px-4 py-2" type="text" placeholder="Search">
            </div>
            <div class="flex items-center pr-4">
                <p-menu #menu [model]="items" [popup]="true" />
                <p-avatar (click)="menu.toggle($event)" label="P" styleClass="mr-2" size="normal" shape="circle" />
            </div>
        </div>
        <div class="p-base flex-1 overflow-auto">
            <div class="flex justify-between mb-base">
                <h5>Table Heading main</h5>
                <div class="flex items-center gap-sm">
                    <p-drawer [(visible)]="visible" header="Drawer">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat.
                        </p>
                    </p-drawer>
                    <p-button (click)="visible = true" icon="pi pi-arrow-right" />
                </div>
            </div>



            

            <div class="mb-base">

                <div class="card ">
                <p-table class="mb-base" #dt2 [value]="customers" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="false"
                    [paginator]="true" [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                    [tableStyle]="{ 'min-width': '75rem' }">
                    <ng-template #caption>
                        <div class="flex items-center">
                            <h5>Table Heading 1</h5>
                            <div class="flex items-center gap-sm ml-auto">
                                <p-columnFilter type="text" field="country.name" placeholder="Search by country"
                                    ariaLabel="Filter Country"></p-columnFilter>
                                <p-iconfield iconPosition="left" class="">
                                    <input pInputText type="text" placeholder="Search keyword" />
                                    <p-inputicon>
                                        <i class="pi pi-search"></i>
                                    </p-inputicon>
            
                                </p-iconfield>
                            </div>
            
                        </div>
                    </ng-template>
                    <ng-template #header>
                        <tr>
                            <th style="width:22%">Name</th>
                            <th style="width:22%">Country</th>
                            <th style="width:22%">Agent</th>
                            <th style="width:22%">Status</th>
                            <th style="width:12%">Verified</th>
                        </tr>
                        <tr>
                            <th>
                                <p-columnFilter type="text" field="name" placeholder="Search by name"
                                    ariaLabel="Filter Name"></p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="text" field="country.name" placeholder="Search by country"
                                    ariaLabel="Filter Country"></p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter field="representative" matchMode="in" [showMenu]="false">
                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-multiselect [options]="representatives" placeholder="Any"
                                            (onChange)="filter($event.value)" optionLabel="name" [style]="{'min-width': '14rem'}">
                                            <ng-template let-option #item>
                                                <div class="inline-block align-middle">
                                                    <img [alt]="option.label"
                                                        src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                                        width="24" class="align-middle" />
                                                    <span class="ml-1 mt-1">{{ option.name }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiselect>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-select placeholder="Select One" [style]="{'min-width': '12rem'}">
                                            <ng-template let-option #item>
                                                <p-tag [value]="option.value" severity="danger" />
                                            </ng-template>
                                        </p-select>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th>
                                <p-columnFilter type="boolean" field="verified"></p-columnFilter>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-customer>
                        <tr>
                            <td>
                                {{ customer.name }}
                            </td>
                            <td>
                                <div class="flex items-center gap-2">
            
                                    <span>{{ customer.country }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="flex items-center gap-2">
            
                                    <span>{{ customer.representative }}</span>
                                </div>
                            </td>
                            <td>
                                <p-tag [value]="customer.status" severity="info" />
                            </td>
                            <td>
                                <i class="pi" [ngClass]="{
                                            'text-green-500 pi-check-circle': customer.verified,
                                            'text-red-500 pi-times-circle': !customer.verified
                                        }"></i>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="5">No customers found.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="card">

                <p-table class="mt-base" [value]="products" [tableStyle]="{ 'min-width': '50rem' }" >
                                    <ng-template #caption>
                    <div class="flex items-center">
                        <h5>Table Heading 2</h5>
                        <div class="flex items-center gap-sm ml-auto">

                            <p-columnFilter type="text" field="country.name" placeholder="Search by country"
                                ariaLabel="Filter Country"></p-columnFilter>

                            <p-iconfield iconPosition="left" class="">
                                <input pInputText type="text" placeholder="Search keyword" />
                                <p-inputicon>
                                    <i class="pi pi-search"></i>
                                </p-inputicon>
        
                            </p-iconfield>
                        </div>
        
                    </div>
                </ng-template>
                    <ng-template #header>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>action</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-product>
                        <tr>
                            <td>{{ product.code }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.category }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>
                                <div class="flex gap-base">
                               <div class="cursor-pointer"> <i class="pi true-icon pi-pencil text-blue-700"></i></div>
                               <div class="cursor-pointer"><i class="pi true-icon pi-trash text-red-500"></i></div>
                            </div>
                            </td>

                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="grid grid-rows-1 grid-flow-col gap-4">
                <div class="card w-[50rem] mx-auto">
                    <h5 class="mb-base">Table Heading 3</h5>
                    <div class="">

                        <div class="flex flex-col gap-2 field " >
                            <label for="username">Username</label>
                            <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
                            <!-- <small id="username-help">Enter your username to reset your password.</small> -->
                        </div>
                        <div class="flex flex-col gap-2 field ">
                            <label for="username">Select a City</label>
                            <p-select optionLabel="name" placeholder="Select a City" class="w-full " />

                            
                        </div>
                        <div class="flex flex-col gap-2 field ">
                            <label for="username">DatePicker</label>
                            <p-datepicker  class="w-full "/>

                        </div>



                        <div class="flex flex-col gap-2 field ">
                            <label for="username">Checkbox</label>
                            <p-checkbox  />
                            
                        </div>

                        <div class="flex flex-wrap gap-4">
                            <div class="flex items-center">
                                <p-radiobutton name="pizza" value="Cheese" [(ngModel)]="ingredient"  inputId="ingredient1" />
                                <label for="ingredient1" class="ml-2">Cheese</label>
                            </div>
                        
                            <div class="flex items-center">
                                <p-radiobutton name="pizza" value="Mushroom" [(ngModel)]="ingredient"  inputId="ingredient2" />
                                <label for="ingredient2" class="ml-2">Mushroom</label>
                            </div>
                        
                            <div class="flex items-center">
                                <p-radiobutton name="pizza" value="Pepper" [(ngModel)]="ingredient" inputId="ingredient3" />
                                <label for="ingredient3" class="ml-2">Pepper</label>
                            </div>
                        
                            <div class="flex items-center">
                                <p-radiobutton name="pizza" value="Onion" [(ngModel)]="ingredient"  inputId="ingredient4" />
                                <label for="ingredient4" class="ml-2">Onion</label>
                            </div>
                        </div>
                        <div class="flex flex-col gap-2 field ">
                        <p-button label="Primary"  />
                        <p-button label="Secondary" severity="secondary" />
                        <p-button label="Success" severity="success" />
                        <p-button label="Info" severity="info" />
                        <p-button label="Warn" severity="warn" />
                        <p-button label="Help" severity="help" />
                        <p-button label="Danger" severity="danger" />
                        <p-button label="Contrast" severity="contrast" />
</div>
                        
                    </div>
                </div>



              </div>

      

            

                 
      
            </div>

        </div>
    </div>

</div>

<!-- login HTML  -->
<section class="bg-gray-50 dark:bg-gray-900 ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6">
            <img class="w-auto h-12 mr-2" src="images/logo.svg" alt="logo">
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign in to your account
                </h1>
                <form class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            email</label>
                        <input type="text" pInputText class="w-full" />
                    </div>
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="text" pInputText class="w-full" />
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="remember" aria-describedby="remember" type="checkbox"
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                                    required="">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                            </div>
                        </div>
                        <a href="#"
                            class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot
                            password?</a>
                    </div>

                    <div class=" w-full"><p-button label="Sign In" class="grid"> </p-button></div>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Don’t have an account yet? <a href="#"
                            class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                    </p>
                </form>
            </div>

        </div>
    </div>
</section>