 <!-- sidebar -->
 
 
 
 <div class="hidden md:flex flex-col w-64 bg-gray-800 h-screen">
    <div class="flex items-center justify-center h-16 bg-gray-100 ">  <!-- bg-gray-100 -->
        <img class="w-auto h-8 mr-2" src="images/logo.svg" alt="logo">
    </div>
    <div class="flex flex-col flex-1 overflow-y-auto">
        <nav class="flex-1 px-2 py-4 bg-white">
            <a routerLink="/dashboard" class="flex items-center px-4 py-2 text-gray-700 hover:bg-gray-100 gap-4">
                <i class="pi pi-bars"></i>
                Dashboard
            </a>
            <a routerLink="/dashboard/user-creation" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                <i class="pi pi-comment"></i>
                User-Creation
            </a>
            <a href="#" class="flex items-center px-4 py-2 mt-2 text-gray-700 hover:bg-gray-100 gap-4">
                <i class="pi pi-cog"></i>
                Settings
            </a>
        </nav>
    </div>
</div>