 <!-- sidebar -->
 
 
 
 <div class="hidden md:flex flex-col w-64 bg-gray-800 h-screen">
    <div class="flex items-center justify-center h-16 bg-gray-100 ">  <!-- bg-gray-100 -->
        <img class="w-auto h-8 mr-2" src="images/logo.svg" alt="logo">
    </div>
    <div class="flex flex-col flex-1 overflow-y-auto">
        <nav class="flex-1 px-2 py-4 bg-white">
            

            <p-panelmenu [multiple]="true" [model]="[
            {
                label: 'Home',
                icon: 'pi pi-home',
                routerLink: '/welcome',
                routerLinkActiveOptions: { exact: true }
            },
            {
                label: 'Users',
                icon: 'pi pi-user',
                items: [
                    {
                        label: 'User Creation',
                        icon: 'pi pi-user-plus',
                        routerLink: '/welcome/user-creation',
                       
                    },
                    {
                        label: 'View Users',
                        icon: 'pi pi-eye',
                        routerLink: '/welcome/user-view',
                        
                    }
                ]
            },
            {
                label: 'Patients',
                icon: 'pi pi-users',
                items: [
                    {
                        label: 'Patient Creation',
                        icon: 'pi pi-user-plus',
                        routerLink: '/welcome/patient-creation',
                       
                    },
                    {
                        label: 'Patient View',
                        icon: 'pi pi-eye',
                        routerLink: '/welcome/patient-view',
                        
                    }
                ]
            },
            {
                label: 'Appointments',
                icon: 'pi pi-calendar',
                items: [
                    {
                        label: 'Create Appointment',
                        icon: 'pi pi-plus',
                        routerLink: '/welcome/appointment-creation',
                       
                    },
                    {
                        label: 'View Appointments',
                        icon: 'pi pi-eye',
                        routerLink: '/welcome/appointment-view',
                       
                    }
                ]
            }
        ]" styleClass="w-full md:w-80"></p-panelmenu>
        </nav>
    </div>
</div>