<p-toast></p-toast>


<div  class="flex items-center justify-center">
  <div [ngClass]="{'w-full max-w-[600px] bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0': !isEditMode}">
    <div [ngClass]="{'p-10 space-y-4 md:space-y-6 sm:p-8': !isEditMode}">
      <h1 *ngIf="!isEditMode" class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl mb-8">
        Appointment Creation
      </h1>

<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">


     


        <div class="grid grid-cols-1 gap-4 mb-3">
          <label for="provider_name" class="block mb-1 text-gray-700">Provider Name<span style="color: red;"> *</span></label>
          <p-select 
          [options]="providers"
          [(ngModel)]="selectedProvider"
          formControlName="provider_id"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          [virtualScroll]="true"
          [virtualScrollItemSize]="50"
          (onLazyLoad)="onProviderScroll($event)"
          (onFilter)="onProviderFilter($event)"
          placeholder="Select a Provider"
          class="w-full md:w-100"
          >
          
          <ng-template #selectedItem let-selectedOption>
            <div class="flex flex-col gap-1">
              <div>{{ selectedOption.name }}</div>
              <div class="text-gray-500 text-sm">{{ selectedOption.email }}</div>
            </div>
          </ng-template>
      
          <ng-template let-provider #item>
            <div class="flex flex-col gap-1">
              <div>{{ provider.name }}</div>
              <div class="text-gray-500 text-sm">{{ provider.email }}</div>
            </div>
          </ng-template>
         
        </p-select>
      </div>


        <div class="grid grid-cols-1 gap-4 mb-3">
          <label for="patient_name" class="block mb-1 text-gray-700">Patient Name<span style="color: red;"> *</span></label>
          <p-select 
          [options]="patients"
            [(ngModel)]="selectedPatient"
            formControlName="patient_id"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            [virtualScroll]="true"
            [virtualScrollItemSize]="50"
            (onLazyLoad)="onPatientScroll($event)"
            (onFilter)="onPatientFilter($event)"
            placeholder="Select a Patient"
            class="w-full md:w-100"
          >
          
          <ng-template #selectedItem let-selectedOption>
            <div class="flex flex-col gap-1">
              <div>{{ selectedOption.name }}</div>
              <div class="text-gray-500 text-sm">{{ selectedOption.email }}</div>

            </div>
          </ng-template>
      
          <ng-template let-patient #item>
            <div class="flex flex-col gap-1">
              <div>{{ patient.name }}</div>
              <div class="text-gray-500 text-sm">{{ patient.email }}</div>
            </div>
          </ng-template>
      
        </p-select>
      </div>

        <!-- Reason -->
        <div class="grid grid-cols-1 gap-4 mb-3">
          <label for="reason" class="block mb-1 text-gray-700">Reason<span style="color: red;"> *</span></label>
          <textarea class="w-full p-2 border border-gray-300 rounded" formControlName="reason" placeholder="Add reason here"></textarea>
         
        </div >
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-3">
        <!-- Date & Time -->
        <div>
          <label for="appointment_date" class="block mb-1 text-gray-700">
            Date<span style="color: red;"> *</span>
          </label>
          <p-calendar 
            formControlName="appointment_date"
            [showTime]="false"
            [showIcon]="true"
            [minDate]="minDate"
            class="w-full"
            inputStyleClass="w-full p-2 border border-gray-300 rounded"
          ></p-calendar>
        </div>


        <!-- Time Slot Dropdown -->
        <div >
          <label for="appointment_time" class="block mb-1 text-gray-700">
            Time Slot<span style="color: red;"> *</span>
          </label>
          <p-dropdown 
            [options]="timeSlots" 
            formControlName="appointment_time"
            placeholder="Select a Time Slot"
            class="w-full"
            optionLabel="slot">
          </p-dropdown>
        </div>
        </div>

        <div class="grid grid-cols-1 gap-4 mb-3" *ngIf="isEditMode">
          <label for="status" class="block mb-1 text-gray-700">Status<span class="text-red-500"> *</span></label>
          <p-dropdown
            [options]="statusOptions"
            formControlName="status"
            optionLabel="label"
            optionValue="value"
            placeholder="Select Status"
            class="w-full"
            appendTo="body">
          </p-dropdown>
        </div>
        <!-- Submit Button -->
        <div class="text-center mt-6">
          <button 
            type="submit" 
            class="w-full p-2 bg-blue-500 text-white rounded disabled:bg-blue-300" 
            [disabled]="appointmentForm.invalid"
          >
          {{ isEditMode ? 'Update' : 'Submit' }}
          </button>
        </div>
      </form>
      </div>
    </div>
  </div>


<p-confirmdialog [style]="{ width: '400px' }"></p-confirmdialog>