
<!-- <div class="card " style="display: flex; justify-content: center; align-items: center; min-height: 90vh;">-->
  
   
  <h1 style="font-size: 2rem; margin-bottom: 20px;">All USERS</h1> 

  <div >
    <p-table
      #dt1
      [value]="customers"
      dataKey="id"
      [rows]="5"
      [rowsPerPageOptions]="[10, 25, 50]"
      [loading]="loading"

      [paginator]="true"
      [globalFilterFields]="['first_name', 'last_name', 'dob', 'gender', 'email', 'state', 'country']">
  
      <ng-template #caption>
        <div class="flex">
          <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="onSearch($event)" placeholder="Search keyword" />
          </p-iconfield>
        </div>
      </ng-template>
  
      <ng-template #header>
        <tr>
          <th style="min-width:10rem">
            <div class="flex items-center">
              First Name
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Last Name
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Date of Birth
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Gender
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Email
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              State
              <p-columnFilter type="text" field="state" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Country
              <p-columnFilter type="text" field="country" display="menu" />
            </div>
          </th>
          <th style="min-width:10rem">
            <div class="flex items-center">
              Actions
            </div>
          </th>
        </tr>
      </ng-template>
  
      <ng-template #body let-customer>
        <tr>
          <td>{{ customer.first_name }}</td>
          <td>{{ customer.last_name }}</td>
          <td>{{ customer.dob | date: 'MM/dd/yyyy' }}</td>
          <td>{{ customer.gender }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.state }}</td>
          <td>{{ customer.country }}</td>
          <td class="flex gap-base">
            <!-- Edit button -->
           
           
            <button  class="pi true-icon pi-pencil text-blue-700" (click)="onEdit(customer)"></button>
            <!-- Delete button -->
            <button  class="pi true-icon pi-trash text-red-500" (click)="confirm2($event,customer)"></button>
          </td>
        </tr>
      </ng-template>
  
      <ng-template #emptymessage>
        <tr>
          <td colspan="8">No customers found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  
  <div >
    <p-dialog header="header" [(visible)]="visible" [modal]="true" [style]="{ width: '40rem' }"  maskStyleClass="backdrop-blur-sm">
      <ng-template #header>
        <div class="inline-flex items-center justify-center gap-2">
          <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
          <span class="font-bold whitespace-nowrap">{{ selectedCustomer?.first_name }} {{ selectedCustomer?.last_name }}</span>
        </div>
    </ng-template>
<span class="text-surface-500 dark:text-surface-400 block mb-8 font-bold text-2xl">Update your information.</span>
 
  
<app-form [editingUser]="selectedCustomer" (dataEvent)="receiveData($event)"></app-form> <!-- Pass the customer data here -->
  

  </p-dialog>
  </div>
   
      <p-toast />
      <p-confirmdialog />
      <!-- <p-button (click)="confirm1($event)" label="Save" [outlined]="true" />
      <p-button (click)="confirm2($event)" label="Delete" severity="danger" [outlined]="true" /> -->
  